/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
body {
  background: rgb(19,77,113);
  background: linear-gradient(180deg, rgba(19,77,113,1) 14%, rgba(120,167,198,1) 56%, rgba(247,228,191,1) 100%);
  background-attachment: fixed;
}

h1 {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
  font-size: 1.9em;
  margin-top: 35px;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

#Message-Prompt {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  margin-top: 107px;
}

.question-rectangle {
  background-color: #ffffff;
  width: 570px;
  height: 99px;
  border-radius: 11px;
  margin: auto;
  margin-top: -10px;
}

label {
  color: #000000;
  font-size: 1.2em;
  font-family: "Quicksand", sans-serif;
  font-style: italic;
  padding: 11px;
}

#affirmation-button, #mantra-button {
  width: 19px;
  height: 19px;
  margin-top: 22px;
}

#receive-button {
  background-color: #134d71;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-size: 1.1em;
  width: 197px;
  height: 29px;
  border-radius: 7px;
  border: none;
  margin-top: 15px;
}

#Message-Display {
  text-align: center;
}

#message-display-rectangle {
  background-color: #ffffff;
  width: 800px;
  height: 162px;
  border-radius: 11px;
  margin: auto;
  margin-top: 110px;
  text-align: center;
}

.default-pic {
  width: 9%;
  padding: 40px;
}

#message-text {
  color: #000000;
  font-family: "Quicksand", sans-serif;
  font-size: 1.4em;
  padding: 54px;
  word-wrap: break-word;
  hyphens: auto;
}

#view-all-messages {
  margin-top: 13px;
  background-color: #f7e4bf;
  color: #134d71;
  font-family: "Quicksand", sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  width: 210px;
  height: 31px;
  border-radius: 7px;
  border: none;
}

.page-top {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page-body {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  font-family: "Quicksand", sans-serif;
  margin-top: 43px;
}

#Messages-Page-Header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#go-home {
  background-color: #000000;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-size: 0.8em;
  width: 140px;
  height: 29px;
  border-radius: 7px;
  border: none;
  margin-top: -20px;
  opacity: 82%
}

#create-new-area {
  font-family: "Quicksand", sans-serif;
  background-color: #134d71;
  width: 730px;
  height: 66px;
  border-color: #f7e4bf;
  border-radius: 17px;
  border-style: solid;
  border-width: 0.5px;
  margin-top: 36px;
  display: flex;
  align-items: center;
  flex-direction: row
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

#create-new-area h2 {
  color: #f7e4bf;
  font-size: 1.3em;
}

#message-type-selector, #create-new {
  font-family: "Quicksand", sans-serif;
  border-radius: 4px;
  border-style: solid;
  border-width: 0px;
}

#user-text-input {
    font-family: "Quicksand", sans-serif;
    width: 280px;
    border-radius: 4px;
    border-style: solid;
    border-width: 0px;
}

#affirmations-area, #mantras-area {
  width: 450px;
  background: rgb(247,228,191);
  background: linear-gradient(180deg, rgba(247,228,191,1) 0%, rgba(120,167,198,0.9192051820728291) 14%);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#affirmations-list, #mantras-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.displayed-message {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 7px;
  margin-right: 36px;
  font-weight: bolder;
}
#edit-input {
   width: 333px;
   font-family: "Quicksand", sans-serif;
   font-size: .8em;
   margin: 4px;
   border-radius: 5px;
   border-style: solid;
   border-width: .4px;
}

#delete-button {
  margin: 5px;
  margin-top: -10px;
  background: #134d71;
  border-width: 0px;
  border-radius: 7px;
  font-size: .8em;
  opacity: 90%;
}

#edit-button {
  margin: 4px;
  font-family: "Quicksand", sans-serif;
  font-size: .7em;
  background: #f7e4bf;
  border-width: .5px;
  border-style: solid;
  border-radius: 7px;
  color: #134d71;
}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
